<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSToolsOSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TSToolsiOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36DA4C2E139BE59500E7569E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DA4C3F139BE5B800E7569E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DA4C6E139BE64D00E7569E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DA4CE8139BFCF200E7569E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DA4CF7139BFD3300E7569E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
